<div class="s-container" [class.visible]="isSidebarVisible">
    <ul>
<li class="s-link" [routerLink]="'/dashboard'" routerLinkActive="active">
  <i class="fas fa-home s-icon"></i>
  <div class="s-link-text">Home</div>
</li>
      <li class="s-link" [routerLink]="'/clients'" routerLinkActive="active">
        <i class="fas fa-users s-icon"></i>
        <div class="s-link-text">Clients</div>
      </li>
      <li class="s-link" [routerLink]="'/devis'" routerLinkActive="active">
        <i class="fas fa-file-invoice"></i>
        <div class="s-link-text">Devis</div>
      </li>
      <li class="s-link" [routerLink]="'/agenda'" routerLinkActive="active">
<i class="fas fa-calendar-day s-icon"></i>
        <div class="s-link-text">Agenda</div>
      </li>
      <li class="s-link">
        <i class="fas fa-building s-icon"></i>
        <div class="s-link-text">Departments</div>
      </li>
<li class="s-link" [routerLink]="'/classes'" routerLinkActive="active">
  <i class="fas fa-project-diagram s-icon"></i>
  <div class="s-link-text">Classes</div>
</li>
    </ul>
  </div>
  