<div>
    <app-navbar (sidebarToggled)="onSidebarToggle($event)"></app-navbar>
    <app-sidebar [isSidebarVisible]="isSidebarVisible"></app-sidebar>
    <div class="content" [class.sidebar-open]="isSidebarVisible">
      <div class="user-legend">
      <div class="user-info">
        <img class="d-userpicture" [src]="imageUrl" alt="Profile Picture" /> 
        <h2 class="d-username">{{ username }}</h2>
      </div>
  
      <div class="datetime">
        <div class="time">{{ currentTime }}</div>
        <div class="date">{{ currentDate }}</div>
      </div>
    </div>   
      <router-outlet></router-outlet>
    </div>
  </div>
  